.wrapper {
  max-width: 100%;
}
body {
  background: #222;
  color: white;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  line-height: 1.4;
  margin: 0;
  text-align: center;  
  overflow: hidden;
}
header {
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background-color: #202020;
  }
nav, section {
    float: left;
    width: 100%; 
    padding-right:10px;
 }
nav {
  padding-top: 35px;
  background-color: #180000;  
  width: 30%;
  padding-left: 100px;
  padding-top: auto;
  overflow: hidden;
}
section {
  background-color: white;
  width: 60%;
  padding-top: auto;
}

/***************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ====== media queries ====== */

/* Extra small devices ( 600px and down) */
@media only screen and (max-width: 600px) {
    nav{ 
      padding-left: 0px;
      }
    section {
      background-color: green;

      padding: 0px;
    }
    .button{
      padding: 0px;
    }
}

/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
    nav{ 
      padding-left: 0px;
      }
    .button{
      padding: 0px;
      } 
}


/* Large devices (992px and up) */
@media only screen and (min-width: 1200px) {
    nav{
      padding-left: 100px;
    }
    .button{
      padding: 4px;
    }
} 

/* ====== form button and text box css ====== */
.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #ff3300;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  margin:auto;
  display:block;
  width: 150px;
  padding: 4px;
}

.btnOnewayReturn{
  background-color: #180000; 
  color: white;
  text-align: center;
  font-size: 1.1vw;
  cursor: pointer;
  display: inline-block;
  border: none;
  width:33.33%; 
}
.btnOnewayReturn:focus{
  outline: 1;
}
.active { 
  border: 1px solid #772d2d85;
 /* padding: 5px;*/
  font-size: 1.1vw;
}

.form-group {
  margin-top: 7px;
  overflow: hidden; 
  margin-bottom: 5px;
}

input[type="text"] , input[type="number"] {
  height: 25px;
  width: 220px;
  border: none;
  border-radius: 3px;
  padding: 8px;
}  

/* ====== ====== */
.search{
  padding-right: 4%;
}

.search-bar-container, .search-results-container {
  height: calc(100vh - 60px);
}

/* ====== header css start ====== */
header .plane-logo-heading-container {
  display: flex;
  max-width: 20rem;
  text-transform: uppercase;
  padding:auto;
}
header .plane-logo-heading-container > .plane-logo {
  height: 40px;
  width: 40px;
  margin: 6px;
  margin-left : 118px;
  margin-top: 0px;
  padding-bottom: 5px;
}
header .plane-logo-heading-container .heading {
  font-weight: 900;
  transform: scale(1.34,1.74);
  margin: 0;
  padding : 0px;
}
header .plane-logo-heading-container > .description {
  flex: 1;
  display: block;
  padding-bottom: 5px;
}

/* ====== search results css start ====== */
.search-results-container {
  width: 70%;
  float: left;
  padding: 15px;
  background: white;
  color: black;
  max-height: auto;
  overflow-y: scroll;
}

.search-results-header {
  margin-top: 15px;
  width: 79%;
  padding-bottom: 5px;
  
}

.source-dest-info {
  float: left;
  margin-left: 41px;
}

.dept-return-dt-info {
  float: right;
}

.search-results-container > .search-results-list,
.search-results-container > .search-results-list > .search-result-card > .search-main-content ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  width: 80%;
}

.search-results-container > .search-results-list > .search-result-card {
  padding: 15px 30px 15px 30px;
  border: 1px solid #80808069;
  height: auto;
  border-radius: 5px;
  margin-bottom: 12px;
}

.search-results-container > .search-results-list > .search-result-card > .price {
  font-weight: 730;
  text-align: left;
  font-size: 150%;
  transform: scale(1,1.5);
}

.search-results-container > .search-results-list > .search-result-card > .search-main-content {
  display: inline-flex;
  width: 100%;
}

.search-results-container > .search-results-list > .search-result-card > .search-main-content > .dept-flight-details {
  width: 60%;
  text-align: left;
}

.search-results-container > .search-results-list > .search-result-card > .search-main-content > .return-flight-details {
  width: 25%;
  text-align: left;
}

.search-results-container > .search-results-list > .search-result-card > .search-main-content > .actions {
  width: 50%;
  text-align: right;
}

.search-results-container > .search-results-list > .search-result-card > .search-main-content > .actions > .book-button {
  text-transform: uppercase;
  background: #ff3300 ;
  color: white;
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 1vw;
}

.book-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    border: none;
}

.dept-flight-details > li:first-child {
    font-weight: bold;
    text-align: left;
    font-size: 90%;
}

.dept-flight-details > li:nth-child(2) {
    font-weight: bold;
    text-align: left;
    font-size: 110%;
}

/* ====== Hover on results====== */
.search-results-list .search-result-card {
    min-height: 20px;
    margin: 9px;
    background-color: white;
    -webkit-transition:0.3s;
    transition:0.3s;
}

.search-results-list:hover .search-result-card:hover {
    background-color: #F0F0F0 ;
}

.hide{
  display: none;
}

.m-t-12{
  margin-top: 12px;
}

#spanSourceDestination{
  font-size: 15px; 
  font-weight: 800
}
/************************************/

